<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <script src="js/adminedit.js"></script>
</head>
<body>
  <h1>Faculty Table</h1>
  <table class="table table-hover table-dark table-striped ">
    <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <!-- <th scope="col">Phone_No</th> -->
          <th scope="col">Qualification</th>
          <th scope="col">Department</th>
          <th scope="col">Designation</th>
          <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <%
      if(Data.length!=0){
      var i=1;
      Data.forEach(function(data){
      %>
      <tr>
          <td><%=i; %></td>
          <td><%=data.Name %></td>
          <td><%=data.Email %></td>
          <td><%=data.Age %></td>
          <td><%=data.Gender %></td>
          <!-- <td><%=data.Phone_No%></td> -->
          <td><%=data.Qualification %></td>
          <td><%=data.Dept_Name  %></td>
          <td><%=data.Designation %></td>
          <!-- <td><a href="/delete/<%=data.ID%>,Faculty"><i class="fas fa-times-circle"></i></a></td> -->
          <td> <button class="delete btn btn-outline-light" id="/delete/<%=data.ID%>,Faculty">delete</button> </td>
      </tr>
      <%  i++; }) %>
      <% } else{ %>
          <tr>
              <td colspan="7">No Data Found</td>
          </tr>
      <% } %>
    </tbody>
  </table>

</body>
</html>
