<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <script src="js/adminedit.js"></script>
</head>
<body>
     <h1>Lab Table</h1>
  <table class="table table-hover table-bordered table-dark table-striped edittable border">
    <thead>
      <tr>
          <th scope="col">No</th>
          <th scope="col">ID</th>
          <th scope="col">Building</th>
          <th scope="col">Type</th>
          <!-- <th scope="col">Occupancy_Status  </th> -->
          <th scope="col">Incharge_ID </th>
          <!-- <th scope="col">Edit</th> -->
          <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <%
      if(Data.length!=0){
      var i=1;
      Data.forEach(function(data){
      %>
      <tr>
          <td><%=i; %></td>
          <td><%=data.ID %></td>
          <td><%=data.Building %></td>
          <td><%=data.Type %></td>
          <!-- <td><%=data.Occupancy_Status %></td> -->
          <td><%=data.Incharge_ID%></td>
          <!-- <td><a href="/users/edit/<%=data.id%>">Edit</a></td> -->
          <!-- <td><a href="/delete/<%=data.ID%>,Lab"><i class="fas fa-times-circle"></i></a></td> -->
          <td> <button class="delete btn btn-outline-light" id="/delete/<%=data.ID%>,Lab">delete</button> </td>

      </tr>
      <%  i++; }) %>
      <% } else{ %>
          <tr>
              <td colspan="7">No Data Found</td>
          </tr>
      <% } %>
    </tbody>
  </table>

</body>
</html>
